
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: Poppins, sans-serif;
    padding:0;
}

.name{
    padding-top: 50px;
    text-align: center;
}
p{
    font-weight: 600;
    font-size:23px;
}
.title{
    margin:0;
    font-family: Poppins, sans-serif;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    color : white;
    font-size: 300px;
    font-weight:800;
    margin-top: 75px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-style:none;
    float:left;
}

.title2{
    float:left;
    margin:0;
    padding:0;
    font-family: Poppins, sans-serif;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    color : white;
    font-size: 300px;
    font-weight:800;
    margin-top: 75px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0);
}
.title3{
    margin-left:0px;
}
.titleH{
    margin-left: 50px;
}
.construction{
    clear:both;
    text-align: right;
    padding-right:50px;
}

/*.title:hover{
    -webkit-text-stroke: 2px #0077AA;
    -webkit-text-fill-color: #0077AA;
}


  